.nav-pills .nav-link.active {
  background-color: var(--BtnColour) !important;
  color: var(--LnkColour) !important;
  margin-top: 10px;
}

.nav-link {
  color: var(--SecColour) !important;
  margin-bottom: 15px;
}

.card {
  padding-top: 20px !important;
}
